@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    overflow-y: hidden;
    background-image: url(https://s3-alpha-sig.figma.com/img/edba/d158/5875731b6f0a892a920759bdcc3caa5d?Expires=1679875200&Signature=G1oZY7BNbsHM0rvSXFlw37V9gmefZAkYgOTIy~eNoJX81fDYmfnKWcpzP~WU8XiNcr7aoeHIt2NEuTQhj8EoPuDG17xh26hijqRYEk8ecCt4ho7MeYdym3rweLd5356WC4rUSVE5zdUvaCx596epD5bT2gy52YwgRypZjiw2qBPVbneiriDqbflLFNiO-PG5nt9AQsoEAAs2jxDszC45yp2S28RYQEyrevAhzhjDCZg9f3XZxSKg0wcZNXP8G-3gsHgoW-nCRY3ximgFzaiNwKeBxkOgbObDUTvmtYhw9q3jDniY2MgCzQIXx7vzC8~jBFvz9rQaopSkJR-RP9gDLQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    overflow-x: hidden;
    
}
li ,a, p{
   font-family: 'Roboto' sans-serif;
   font-weight: 500;
    text-decoration: none;
    list-style: none;
    color: #ffffff;

}
header{
    width: 100%;
    height: 60px;
    background-color: #000;
    
}
.navbar{
    position: relative;
}
.navbar a,li{
    display: inline;
    position: relative;
    top: 9px;
    left: 35px;
    margin: 0 auto;
    padding-right:0;
    margin-left: 20px ;
    font-size: 18px;
    cursor:default;
    transition: 0.3s all ease-in-out;
}
.navbar a:hover{
    color: #ff6600;
   
}
.search{
    position: relative;
    left: 5rem;
    top: 16px;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #ffffff00;
    color: transparent;
    transition: 0.5s all ease-in-out;



}
.search:focus{
    background-color: #ffffff;
    width: 200px;
    color: black;
}
.search::placeholder{
    color: transparent;
}

.search-img{
    position: relative;
    left: 53px;
    top: 21px;
    width: 24px;
    height: 25px;
    margin: 0;
    z-index: -1;
}
.menu{
    position: relative;
    display: block;
    width: 40px;
    height: 4px;
    left: 74rem;
    margin-bottom: 5px;
    bottom: 7px;
    background-color: red;
    z-index: 2;
    color: white;
}
.logo{
    position: relative;
    text-align: center;
    /* color: red; */
    top: 7rem;
    font-size: 100px;
    -webkit-text-stroke:2px  #5D75E7;
    color: transparent;
    background-color: #00000052;
    transition: 0.5s all ease-in-out;
    animation-name: text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in
}
.romb{
    display: inline-flex;
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 22px;
    background: red;
    top: 7rem;
    left: 42rem;
    transform: rotate(30deg);
}
.subtitle{
    margin: 0;
    position: relative;
    left: 37rem;
    top: 10rem;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.info{
    position: relative;
    height: 0;
    left: 0rem;
    top: 15rem;
    border-top: 3px solid rgba(198, 57, 57, 0.509);
    
}
.number , .number-1 , .number-2{
    position: relative;
    left: 45rem;
    bottom: 32px;
    margin-top: 4px;
}
.number-1 , .number-2,.schedule-1,.schedule-2{
    color: red;
    font-weight: 600;
}
.addres{
    position: relative;
    left: 20rem;
    top: 0rem;
}
.schedule,.schedule-1,.schedule-2{
    position: relative;
    left: 76rem;
    bottom: 107px;
}
.btn-start{
    position: relative;
    width: 204px;
    height: 46px;
    left: 41rem;
    top: 12rem;
    font-size: 19px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    overflow: none;
    border-radius: 20px;
    border: 2px solid #009BFF;
}
.img-logo{
    position: relative;
    left: 4rem;
    top: 35px;
    
}
.navbar a::after{
    content: '';
    height: 2px;
    width: 0;
    background: -webkit-linear-gradient(90deg, #1678f3,#0099ba,#1678f3);background: linear-gradient(90deg, #1678f3,#0099ba,#1678f3);
    position: absolute;
    left: 0;
    bottom: -3px;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}
.navbar a:hover::after{
    width: 100%;
}

.btn-start::after{
    content: '';
    position: absolute;
    width:0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #009BFF;
    transition: 0.5s all ease-in-out;
    border-radius: 18px;
    z-index: -2;
    
}
.btn-start:hover::after{
    width: 100%;
}
.btn-start:hover{
    border: none;
}

@keyframes text {
    from{
        -webkit-text-stroke:2px  #600101;
    }
    50%{
        -webkit-text-stroke:2px  #fe031c;
    }
    60%{
        -webkit-text-stroke: 2px #d30101;
    }
    to{
        -webkit-text-stroke:2px  #640202;
    }
}



.content{
    position: relative;
    left: 65rem;
    bottom: 2.7rem;
    display: flex;
}

.btn{
    width: 69px;
    height: 31px;
    background-color: rgba(154, 154, 154, 0.719);
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    
}
input[type="checkbox"]{
    display: none;
}
.btn::before{
    position: absolute;
    content: '';
    background-color: #ffff;
    width: 27px;
    height: 26px;
    border-radius: 200px;
    margin: 3px;
    transition: 0.5s ;
}
input[type='checkbox']:checked + .btn{
    background-color: rgba(23, 23, 103, 0.758);
}
input[type='checkbox']:checked + .btn::before{
    transform: translateX(33px);
}